.btn {
  background-color: var(--light-primary);
  color: var(--dark-primary);
  font-family: inherit;
  border: 2px solid var(--dark-primary);
  border-radius: 0.5em;
  cursor: pointer;
}

.btn--text {
  background-color: var(--dark-primary);
  color: var(--light-primary);
  font-size: 1.25rem;
  width: max-content;
  margin: 0 auto;
  padding: 0.25em 0.75em;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn--emoji {
  width: 100%;
  height: 100px;
  font-size: 3rem;
  border: 2px solid var(--light-primary);
  /* animation: fadeInOut 2s ease-in-out; */
}

.btn--text:hover,
.btn--text:focus {
  background-color: var(--light-primary);
  color: var(--dark-primary);
  box-shadow: 0 0 5px 1px var(--dark-primary);
}

.btn--emoji__front,
.btn--emoji__back--selected {
  backface-visibility: hidden;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .btn--emoji__back--selected {
  animation: textFadeInOut 0.6s ease-in-out infinite;
} */

.btn--emoji__back--matched {
  backface-visibility: unset;
  background-color: var(--btn-disabled);
  border: 2px solid var(--btn-disabled);
  cursor: not-allowed;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn--emoji__front:hover,
.btn--emoji__front:focus {
  background-color: var(--accent);
  border: 2px solid var(--dark-primary);
  box-shadow: 0 0 5px 2px var(--light-primary);
  cursor: pointer;
}

/* @keyframes textFadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.btn--emoji__back--selected,
.btn--emoji__back--matched {
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  /* animation: fadeInOut 0.6s ease-in-out; */
}

@media (min-width: 768px) {
  .btn--emoji {
    font-size: 4rem;
    height: 110px;
  }
}

@media (min-width: 1024px) {
  .btn--emoji {
    font-size: 4.5rem;
    height: 125px;
  }
}
